
<div class="navbar">

  <ul>

    <li>
      <a
        routerLink="/dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        Dashboard
      </a>
    </li>

    <li>
      <a
        routerLink="/create-ticket"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        CreateTicket
      </a>
    </li>

<li>
      <a
        routerLink="/ticketList"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        TicketList
      </a>
    </li>

    <!--<li>
      <a
        routerLink="/editTicket"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        EditTicket
      </a>
    </li>
  -->
  </ul>

</div>
