.ticket-container {

  width: 450px;

  margin: 40px auto;

  padding: 25px;

  border-radius: 10px;

  box-shadow: 0 0 10px gray;

  background-color: white;
}

h2 {

  text-align: center;

  margin-bottom: 20px;
}

label {

  display: block;

  margin-top: 15px;

  font-weight: bold;
}

input,
textarea,
select {

  width: 100%;

  padding: 10px;

  margin-top: 5px;

  border: 1px solid gray;

  border-radius: 5px;

  font-size: 15px;
}

button {

  width: 100%;

  padding: 12px;

  margin-top: 20px;

  background-color: #1976d2;

  color: white;

  border: none;

  border-radius: 5px;

  cursor: pointer;

  font-size: 16px;
}

button:hover {

  background-color: #125ca1;
}