.ticket-list-container {

  width: 95%;

  margin: 30px auto;
}

h2 {

  text-align: center;

  margin-bottom: 20px;
}

input,
select {

  padding: 10px;

  margin-right: 10px;

  margin-bottom: 20px;

  border: 1px solid gray;

  border-radius: 5px;
}

table {

  width: 100%;

  border-collapse: collapse;

  background-color: white;
}

th,
td {

  border: 1px solid #ddd;

  padding: 12px;

  text-align: center;
}

th {

  background-color: #1976d2;

  color: white;
}

tr:nth-child(even) {

  background-color: #f5f5f5;
}

.high {

  color: red;

  font-weight: bold;
}

.medium {

  color: orange;

  font-weight: bold;
}

.low {

  color: green;

  font-weight: bold;
}

.edit-btn {

  padding: 8px 12px;

  margin-right: 5px;

  border: none;

  background-color: #1976d2;

  color: white;

  border-radius: 4px;

  cursor: pointer;
}

.delete-btn {

  padding: 8px 12px;

  border: none;

  background-color: red;

  color: white;

  border-radius: 4px;

  cursor: pointer;
}